.cart-container {
  padding: 5rem;
  max-width: 800px; /* Adjusted for better fit */
  margin: 0 auto;
  border: 1px solid #030303;
  border-radius: 15px;
  background-color: #f9f9f9;
}

.cart-heading {
  font-size: 2.5rem; /* Adjusted for better readability */
  margin-bottom: 1rem;
  text-align: center;
}

.empty-cart-message {
  text-align: center;
  font-size: 1.2rem;
  color: #888;
}

.cart-item-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
}

.cart-item-image {
  width: 300px;
  height: 100px;
  border-radius: 8px; /* Adjusted for a less circular look */
  object-fit: cover;
  margin-right: 10rem;
}

.cart-item-details {
  flex: 2;
}

.cart-item-name {
  display: block;
  font-size: 1rem;
  font-weight: bold;
}

.cart-item-price {
  display: block;
  font-size: 1.5rem;
  color: #333;
}

.cart-footer {
  display: flex;
  justify-content: space-between; /* Space out items horizontally */
  align-items: center;
  margin-top: 1rem;
  border-top: 1px solid #ddd;
  padding-top: 1rem;
}

.clear-cart-button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #0c0b0b;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.clear-cart-button:hover {
  background-color: #03f517;
}

.total-price {
  font-size: 1.2rem;
  font-weight: bold;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 5px;
}

.quantity-button {
  background-color: #ddd;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.quantity-button:hover {
  background-color: #ccc;
}

.cart-item-quantity {
  margin-right: 10px;
  font-size: 0.9em;
  color: #555;
}

.checkout-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px; /* Added border-radius for a rounded look */
}

.checkout-button:hover {
  background-color: #0056b3;
}
